*{
  margin: 0;
  color: white;
}

body{
  background: black;
}

.small-socialMedia{
  color: black;
  line-height: 45px;
}
.small-socialMedia:hover{
   background:  #249ED2;
}

h1{
  color: #249ED2;
  width: 100%;
  text-align: center;
  font-family: Shadows Into Light;
}

p{
  font-family: Nunito;
}

.nav{
  border-bottom: 1px solid white;
  margin-bottom: 5%;
  height: 55px;
}

.logo{
   font-family: Shadows Into Light;
   margin-right: 30%;
   font-size: 28px;
}



.seek-intern-position{
  text-align: center;
  font-family: Nunito;
  width: 100%;
  color: white;
}

.card{
  width: 50px;
  height: 100%;
  background: transparent;
}

.card-img-top{
  width: 80%;
   border-radius: 5px;
   height: 25rem;
}

.card-body{
  padding-left: 0px;
  width: 80%;
}

.button-see{
  background: transparent;
  border: 1px solid #249ED2;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.button-see:hover{
  background: #249ED2;
  border: 1px solid #249ED2;
  color: black;
  border-radius: 5px;
}

.about-me-text{
  width: 100%;
}

.about-me-container{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3rem;
  height: 300px;
}

.my-img{
  border-radius: 100px;
  width: 150px;
  margin-left: 10%;
  margin-top: 10%;
}

.courses-title{
  color: white;
}

.container-courses{
  background:  transparent;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3rem;
  height: 300px;
}


.container-links{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3rem;
  height: 300px;
}