*{
  margin: 0;
  color: white;
}

body{
  background: black;
  margin: auto 40px;
}

.small-socialMedia{
  color: black;
  line-height: 45px;
}
.small-socialMedia:hover{
   background: #F02E5D;
}

h1{
  font-family: Shadows Into Light;
}

p{
  font-family: Nunito;
}

.nav{
  border-bottom: 1px solid white;
  margin-bottom: 5%;
  height: 55px;
}

.logo{
   font-family: Shadows Into Light;
   margin-right: 30%;
   font-size: 28px;
}

.goal{
  text-align: right;
  font-family: Nunito;
  margin-bottom: 5%;
  width: 67%;
  margin-left: 0px;
}

.container-blue-about-me{
  border: 2px solid #249ED2;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px 1px rgba(36, 158, 210, 0.25);
}

.i-have-knows{

}

.container-pink-knows{
  border: 2px solid #F02E5D;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px 1px rgba(240, 46, 93, 0.25);
}


.columns{
margin-top: -8.4%;
display: flex;
justify-content: space-around;
align-items: center;
height: 520px;
width: 60%;
}

.column-first{
background: white;
width: 30%;
height: 378px;
margin-top: -70.5%;
margin-left: -2%;
}

.column-two{
background: white;
width: 30%;
height: 360px;
margin-bottom: -41%;
margin-right: -2%;
}

.slide-blue{
  background: #249ED2;
  color: black;
  width: 100%;
  padding-left: 5% ;
}

.container-my-projects{
  width: 100%;
  text-align: center;
  font-family: Shadows Into Light;
  color: #F02E5D;
}