*{
  margin: 0;
  color: white;
}

body{
  background: black;
}

.small-socialMedia{
  line-height: 45px;
}
.small-socialMedia:hover{
   color:  #249ED2;
}

h1{
  color: white;
  width: 100%;
  text-align: center;
  font-family: Shadows Into Light;
}

p{
  font-family: Nunito;
}

.nav{
  border-bottom: 1px solid white;
  margin-bottom: 5%;
  height: 55px;
}

.logo{
   font-family: Shadows Into Light;
   margin-right: 30%;
   font-size: 28px;
}



.seek-intern-position{
  text-align: center;
  font-family: Nunito;
  width: 100%;
  color: white;
}

.title-myProjects{
  color: #249ED2;

}

.card{
  width: 50px;
  height: 100%;
  background: transparent;
  color: #249ED2;
}

.card-img-top{
  width: 80%;
   border-radius: 5px;
   height: 25rem;
}

.card-body{
  padding-left: 0px;
  width: 80%;
}

.button-see{
  background: transparent;
  border: 1px solid #249ED2;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.button-see:hover{
  background: #249ED2;
  border: 1px solid #249ED2;
  color: black;
  border-radius: 5px;
}

.title-aboutMe{
  
  color: #249ED2;
}

.about-me-container{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3rem;
  
}

.my-img{
  border-radius: 100px;
  width: 150px;
  margin-left: 10%;
  margin-top: 15%;
  box-shadow: 1px 1px 4px black;
}

.courses-title{
  color: white;
}

.container-courses{
  background:  transparent;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3rem;
  
}


footer{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  
}

.big-socialMedia{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3rem;
}

.big-socialMedia:hover{
  color: black;
}
