*{  
    color: black;
    font-family: 'Public Sans', sans-serif;
}

body{
    background: #cbb07b;
    margin: auto 20px;
}

#title{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: white;

    font-size: 3rem;

    margin-top: 5%;
}

#text-one{
    text-align: center;
    margin-top: 10%;
}

#container-input{
    padding: 1rem;
    margin-top: 3%;

    width: 290px;

    h1{
       font-size: 15px;
       margin-bottom: 2%;
    }

    #inputBook{
        margin-bottom: 2%;
        width: 88%;
        padding: .6rem;

        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    button{
        background: #21ce33;
        color: #ffff;
        border: 0;
        border-radius: 5px;
        width: 95%;
        padding: .6rem;

        font-size: 1rem;
        font-weight: bold;
    }

    button:hover{
        background-color:  #399142;
        transition: all 0.5s ease-in;
    }
}

#quantityBooks{
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
}

#booksReadsList{
    margin: 0 auto;
    width: 88%;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    background: cornsilk;

    ul{
        margin: auto 10px;
        padding: 0;
        margin-left: 0;
                  background: #21ce33;
                  width: 50px;
                  height: 100px;

    }
    .list{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-top: 10px;
        padding: 1px;
        padding-left: 7px;


        width: 50%;
        height: 2rem;

        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        

     

      
    }
}

footer{
    margin-top: 3%;
    text-align: center;

    font-size: 10px;
}


/*
<i class="fas fa-eye eye"></i>
                        <i class="fas fa-pen-square pen"></i>
                        <i class="fas fa-minus-circle delete"></i>
                    </div>
*/