* {
  color: black;
  font-family: 'Public Sans', sans-serif;
}

body {
  background: #CDAA7D;
  margin: auto 20px;
}

#title {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 3rem;
  margin-top: 5%;
}

#text-one {
  text-align: center;
  margin-top: 10%;
}

#container-input {
  padding: 1rem;
  margin-top: 3%;
  width: 290px;
}

#container-input #inputBook {
  margin-bottom: 2%;
   width: 18.7rem;
  padding: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#container-input button {
  background: #32CD32;
  color: #ffff;
  border: 0;
  
   width: 18.7rem;
  padding: .6rem;
  font-size: 1rem;
  font-weight: bold;
 border-radius: 5px;
 box-shadow: 1px 1px 3px black;
}

#container-input button:hover {
  background-color: #399142; 
}

#counter {
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
}

.container-booksReadsList {
  width: 18rem;
height: 200px;
border: 1px solid rgba(0, 0, 0, 0.5);
background: white;
margin-left: 5%;
overflow-y: scroll;
scrollbar-width: thin;
padding-right: .4rem;
overflow-x: hidden;
 margin-bottom: 2%;
  border-radius: 5px;
  padding-top: 1px;
}
.containerRow{
  height: 1.3rem;
}

.container-booksReadsList #containerOfBook{
 list-style: none;
 
  width: 18rem; 
}

.container-booksReadsList .nameBook{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: .5rem;
 
  width: 18rem;
 
  height: 25px;
}

.container-booksReadsList  .actions {
margin-left: 70%;
margin-top: -11.6%;

display: flex;
-webkit-box-pack: justify;
justify-content: space-around;
align-items: center;
width: 5rem;

}

.container-booksReadsList .eye {
  color: #f1da03;
}

.container-booksReadsList .eye:hover {
  color: #a09324;
}

.container-booksReadsList .pen {
  color: #0344f5;
}

.container-booksReadsList .pen:hover {
  color: #344f97;
}

.container-booksReadsList .delete {
  color: #f00909;
}

.container-booksReadsList .delete:hover {
  color: #b85151;
}

footer { 
  text-align: center;
  font-size: 10px;
}
