.body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 95vh;
    width: 100%;
}
.first-child-container{
    background: rgb(197, 231, 227);
    position: fixed;
    float: left;
    height: 95vh;
    width: 30%;
    border-radius: 25px;
}
.myPicture{
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 80px;
}
.column{
    flex-direction:column;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.item-1{
    background: lightcoral;
    height:10vh;
    border-radius: 25px;

}
.item-2{
    background: rgb(123, 160, 116);
    height:10vh;
    margin-top: 5%;
    border-radius: 25px;
}
.item-3{
    background: rgb(41, 28, 102);
    height:10vh;
    margin-top: 5%;
    border-radius: 25px;
}
.item-4{
    background: rgb(202, 21, 21);
    height:10vh;
    margin-top: 5%;
    border-radius: 25px;
}
.second-child-container{
    background: rgb(219, 228, 212);
    float: right;
    height: 95vh;
    width: 69%;
    border-radius: 25px;
}
