.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper-edicao-livro {
    height: 70%;
    width: 100%;
    position: fixed;
    bottom: 0;

    background: #FFF;
    border-radius: 8px 8px 0px 0px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn-fechar {
      position: fixed;
      right: 0;
    }

    h2 {
        margin-top: 3rem;
    }

    .btn-deletar-livro {
        background: transparent;
        border: 1px solid red;
        color: red;
        height: 48px;
        border-radius: 4px;
        font-size: 1rem;
        position: fixed;
        margin-bottom: 2rem;
        bottom: 0;
        right: 1rem;
        left: 1rem;
    }
}
