.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn_abrir-caixa-edicao-livro {
  background: #1c1c1c;
  color: #FFF;
  border: 0;

  height: 4rem;
  width: 100%;

  cursor: pointer;
  font-size: 2.5rem;

  position: fixed;
  bottom: 0;
}

.wrapper-edicao-livro {
  height: 30vh;
  width: 100%;
  background: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .top-edicao-livro {
    display: flex;
    justify-content: flex-end;
  }

  .book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;

    .body-form {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      gap: .5rem;
      width: 100%;

      input {
        font-family: 'Roboto';
        background: transparent;
        border: 0;
        height: 1rem;
      }

      .book-name {
        font-size: 1rem;
        color: #FFF;
      }

      .book-name::placeholder {
        color: #FFF;
      }

      .book-descricao {
        font-size: 14px;
        color: #8E8E93;
      }
    }

    .footer-edicao-livro {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
