<div class="overlay">
    <div class="wrapper-edicao-livro">
        <img
          class="btn-fechar" 
          [src]="icon_fechar" alt="" 
          role="button"
          (click)="fechar()"
        >

        <div class="info-livro">
            <h2>{{ (livro$ | async).titulo }}</h2>

            <p>{{ (livro$ | async).descricao }}</p>
        </div>

        <button type="button" class="btn-deletar-livro" (click)="deletarLivro()">
            deletar livro
        </button>
    </div>
</div>
