<form class="book-form">
  <mat-form-field class="example-full-width" appearance="fill" [formGroup]="form">
    <textarea matInput placeholder="Ex. A Marca da Vitória" id="book" formControlName="book"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="form.get('book')?.value !== '' ? addBook() : ''">
    adicionar livro
  </button>
</form>

<mat-card>
  <mat-card-title>
    qntd. de livros lidos:  <b>{{ books.length}}</b>
  </mat-card-title>

  <app-row-book *ngFor="let book of books" [book]="book"></app-row-book>
</mat-card>
