label {
  margin-left: 0.8%;
  color: #fff;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

.inputEmail, .inputPassword{
  width: 92%;
  margin-bottom: .6rem;
}

.errorWarningMsg{
  display: none;
}

.errorWarningMsg.active {
  display: block;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: .5rem;
  font-size: 15px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
}

.warningErrorInput{
  border-color: red;
}