.description {
  text-align: center;
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

.container-input {
  margin-top: 3%;
  padding-top: 1rem;
  text-align: center;
}

.counter {
  width: 18.5rem;
  position: absolute;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  color: #fff;
}

.containerRow {
  height: 1.5rem;
}

.table{
  list-style: none;
  width: 18rem;
}

.nameBook {
  border-bottom: 1px solid rgba(48, 58, 66, 0.5);
  padding-left: 0.5rem;
  width: 18rem;
  display: block;
  margin-top: 20px;
  height: 1.5rem;
  line-height: 10px;
  font-family: "Public Sans", sans-serif;
}

.actions {
  margin-left: 65%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
  align-items: center;
  padding-right: 2rem;
  margin-top: -49px;
  height: 1.5rem;
}

.eye {
  color: #f1da03;
  cursor: pointer;
}

.eye:hover {
  color: #a09324;
}

.pen {
  color: #0344f5;
  cursor: pointer;
}

.pen:hover {
  color: #344f97;
}

.delete {
  color: #f00909;
  cursor: pointer;
}

.delete:hover {
  color: #b85151;
}

.container-books {
  display: none;
  width: 18rem;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-right: 0.4rem;
  overflow-x: hidden;
  border-radius: 5px;
  padding-top: 1px;
  margin-top: 3rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.container-books::-webkit-scrollbar {
  width: 1.1rem;
}

.container-books::-webkit-scrollbar-thumb {
  background: #fff;
  border: 6px solid #329ccd;
  border-radius: 5rem;
}

.container-books::-webkit-scrollbar-track {
  background: #329ccd;
}

@media screen and (min-width: 700px){
 
.counter {
  position: absolute;
  margin-bottom:-.5rem;
  font-family: "Public Sans", sans-serif;
  color: #fff;
}
}