<mat-card>
  <span class="book-name">
    {{book}}
  </span>

  <span class="actions-crud">
    <button type="button" (click)="editInfoBook()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit">edit</mat-icon>
    </button>

    <button type="button" (click)="deleteBook($event)">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" >delete</mat-icon>
    </button>

    <button type="button" (click)="getInfoBook()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info">info</mat-icon>
    </button>
  </span>
</mat-card>

<span class="modal-info"></span>
