mat-card {
  color: #0D1117;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.45);
  margin: .7rem 0;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .actions-crud {
    display: flex;
    gap: 1rem;

    button {
      background: none;
      border: 0;
      cursor: pointer;
    }

    button:nth-child(1) {
      color: #2090d0;
    }

    button:nth-child(2) {
      color: #d03f20;
    }

    button:nth-child(3) {
      color: #d0bd20;
    }
  }
}

.modal-info {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.45);

  top: -1rem;
  left: 27rem;
  height: 100px;
  width: 250px;
}

.modal-info::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -1.25rem;
  top: 2.5rem;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
