.wrapper-error {
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #56504C;

    p {
        font-size: 1rem;
        font-family: 'Roboto';
    }
}