.wrapper-login {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    h2 {
        color: #56504C;
        margin: 0;
    }

    .btn-google {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #D9D9D9;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        padding: 0 1rem;
        margin: 1rem 0 0 0;
    
        font-size: 1rem;
        font-family: 'Roboto';
        color: #56504C;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        input {
            height: 39px;
            border: 1px solid #D9D9D9;
            border-radius: 8px;
            padding: 0 1rem;
        }
    
        button {
           padding: 16px;
           height: 48px;
           background: #D9D9D9;
           border: 1px solid #D9D9D9;
           border-radius: 8px;
        }
    }
}
