@use '../../assets/variable.scss' as color;

.wrapper-page-booksave {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;

  h1 {
    color: #56504C;
    font-family: 'Roboto';
    text-align: center;
  }

  .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #D9D9D9;
    border-radius: 8px;

    color: #56504C;
    font-family: 'Roboto';
    font-size: 12px;

    width: 100%;

    input {
      padding: .5rem 1rem;
      border: 0;
      width: 100%;
    }

    svg {
      fill: #56504C;
    }
  }

  .flex-column {
    .qntd-books {
      display: flex;
      justify-content: flex-end;
      color: #1c1c1c;
      font-size: 14px;
    }

    .box-books {
      height: 270px;
      overflow-y: scroll;
    }

  }
}
