<ng-container *ngIf="!isFooterOpen">
  <div class="flex-row">
    <button
      type="button"
      class="btn-open-footer"
      (click)="openFooter()">
      +
    </button>
  </div>
</ng-container>

<ng-container *ngIf="isFooterOpen">
  <div class="wrapper-update-book">
    <div class="header">
      <svg
        (click)="closeFooterCard()"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="32" width="32"><path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z"/>
      </svg>
    </div>

    <form class="book-form" [formGroup]="bookForm">

      <div class="body-form">
        <input
        class="book-name"
        type="text"
        placeholder="nome do livro"
        id="title"
        formControlName="title"
        (change)="validateTitle()" />

      <input
        class="book-description"
        type="text"
        placeholder="descrição do livro"
        id="description"
        formControlName="description" />
      </div>

        <div class="footer">
          <svg
            role="button"
            class="btn-delete-book"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="32" width="32"><path d="M13.05 42q-1.25 0-2.125-.875T10.05 39V10.5H8v-3h9.4V6h13.2v1.5H40v3h-2.05V39q0 1.2-.9 2.1-.9.9-2.1.9Zm21.9-31.5h-21.9V39h21.9Zm-16.6 24.2h3V14.75h-3Zm8.3 0h3V14.75h-3Zm-13.6-24.2V39Z"/>
          </svg>

          <svg
            role="button"
            class="btn-update-book"
            [ngClass]="titleIsEmpty ? 'btn-disabled' : 'btn-active'"
            (click)="addBook()"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="32" width="32"><path d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"/>
          </svg>
        </div>
    </form>
  </div>
</ng-container>
