<button
  *ngIf="(isAdicaoLivroAberto$ | async) === false"
  type="button" class="btn-abrir-container-edicao-livro"
  (click)="abrirCaixaDeEdicao()"
>
  +
</button>

<ng-container *ngIf="(isAdicaoLivroAberto$ | async) === true">
  <div class="wrapper-adicao-livro">
    <img 
      style="padding-top: 1rem; fill: #FFF; color: #FFF;"
      [src]="icon_fechar" alt="" 
      class="btn-fechar-container-adicao-livro"
      role="button" (click)="fecharCaixaDeEdicao()"
    >

    <form class="book-form" [formGroup]="form">

      <div class="body-form">
        <input class="book-name" type="text" placeholder="nome do livro" formControlName="titulo"
          (change)="validarTitulo()"
        />

        <input class="book-descricao" type="text" placeholder="descrição do livro"
          formControlName="descricao"
        />
      </div>

      <div class="flex-row" style="margin-bottom: 1rem">
        <button type="button" class="btn-limpar" (click)="form.reset()">
          LIMPAR
        </button>
        <img 
          [src]="icon_check" 
          alt="" role="button" 
          class="btn-update-book" 
          (click)="adicionarLivro()"
        >
      </div>
    </form>
  </div>
</ng-container>
<!-- [ngClass]="isTituloVazio ? 'btn-disabled' : 'btn-active'"  -->
