/* You can add global styles to this file, and also import other style files */
@use './assets/variable.scss' as color;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  position: fixed;
}

app-root {
  width: 100%;
}

.mt-m {
  margin-top: 1rem!important;
}

.mt-l {
  margin-top: 2rem;
}

.mt-xl {
  margin-top: 3rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mt-mb {
  margin: 1rem 0!important;
}

.g-mb-4 {
  margin-bottom: 4px;
}

