@use '../../../assets/variable.scss' as color;

.wrapper-page-booksave {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;

  h1 {
    color: #56504C;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 1rem;
  }

  .search-box {
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: #56504C;
    font-family: 'Roboto';
    font-size: 12px;

    input {
      padding: .5rem 1rem;
      border: 0;
      width: 100%;
      border-radius: 8px 0 0 8px;
    }

    svg {
      fill: #56504C;
      background: #fff;
      border-radius: 0 8px 8px 0;
      padding-right: .5rem;
    }
  }

  .flex-column {
    .qntd-livros {
      display: flex;
      justify-content: flex-end;
      color: #1c1c1c;
      font-size: 14px;
    }

    .wrapper-livros {
      height: 100vh;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
