<div class="wrapper-page-booksave">
  <span class="title-app">
    Booksave
  </span>
  <form class="book-form" [formGroup]="bookForm">

    <input type="text" placeholder="nome do livro" [ngClass]="titleIsEmpty ? 'input-error' : ''" id="title" formControlName="title" />
    <span *ngIf="titleIsEmpty" [ngClass]="titleIsEmpty ? 'input-error' : ''">preencha um nome de livro</span>

    <input type="text" placeholder="descrição do livro" id="description" formControlName="description" />

    <button type="button" (click)="bookForm.get('title')?.value !== '' ? addBook() : ''">
      adicionar livro
    </button>
  </form>

  <div class="container-saved-books">
    <ng-container *ngIf="books.length > 0">
      <span class="qntd-books">
        <b>{{books.length}}
          <ng-container *ngIf="books.length === 1">
            livro
          </ng-container>
          <ng-container *ngIf="books.length > 1">
            livros
          </ng-container>
        </b>
      </span>

    <div [ngClass]='books.length === 0 ? "empty-container-books": "container-books"'>

      <ng-container *ngIf="books.length === 0">
        <p>ainda não há livros, adicione-os.</p>
      </ng-container>

        <app-row-book *ngFor="let book of books" [title]="book.title" [description]="book.description">
        </app-row-book>
    </div>
    </ng-container>
  </div>

  <p class="author">Desenvolvido por Luis Fernando, 2022.</p>
</div>
