@use '../../assets/variable.scss' as color;

.wrapper-page-booksave {
  display: flex;
  flex-direction: column;

  .title-app {
    color: color.$dark-color;
    font-weight: bold;
    font-size: 2rem;
    margin: 4rem 0;
  }

  .book-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;

    input {
      color: color.$dark-color;
      background: transparent;
      border: none;
      border-bottom: .5px solid rgba(0, 0, 0, 0.2);
      padding: 8px 12px;
      margin-bottom: 1rem;
    }

    input::placeholder {
      background: transparent;
      color: color.$dark-color;
    }

    .input-error {
      display: block;
      border-color: rgba(255, 0, 0, 0.753)!important;
      color: rgba(255, 0, 0, 0.753);
    }

    #title {
      width: 45%;
    }

    button {
      background: color.$dark-color;
      color: color.$light-color;
      height: 48px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      font-weight: bold;
    }
  }

  .container-saved-books {
    width: auto;
    height: 360px;
    padding: 2rem 1rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    .qntd-books {
      display: flex;
      align-self: flex-start;
      font-size: 18px;
      color: color.$dark-color;
    }
  }

  .container-books, .empty-container-books {
    width: auto;
    gap: 1rem;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    app-row-book {
      width: 100%;
    }
  }

  .author {
    margin-top: 1rem;
    text-align: center;
    color: color.$dark-color;
  }
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: color.$dark-color;
  border-radius: 1rem;
}
