<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState">
    <mat-expansion-panel-header>
      <span>
        <b>
          {{ title | uppercase}}
        </b>
        <p class="description">
          askakskaskkaskakskakskas
        </p>
      </span>
    </mat-expansion-panel-header>
    <!-- <span id="actions-crud">
      <ng-container *ngIf="!editDescription">
        <button type="button" (click)="openEditBook($event)">
          <mat-icon fontIcon="edit">edit</mat-icon>
        </button>

        <button type="button" (click)="deleteBook($event)">
          <mat-icon fontIcon="delete" color="red">delete</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="editDescription">
        <button type="button" (click)="cancelEdit()">
          <mat-icon fontIcon="cancel">cancel</mat-icon>
        </button>

        <button type="button" (click)="updateBook($event)">
          <mat-icon fontIcon="check">check</mat-icon>
        </button>
      </ng-container>
    </span> -->
  </mat-expansion-panel>
</mat-accordion>

