form fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 2rem;

  label, legend, input, button {
    color: #fff;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: .5px solid #fff;
    padding: 8px 12px;
    margin-bottom: 1rem;
  }

  input::placeholder {
    background: transparent;
    color: rgba(255, 255, 255, 0.808);
  }

  button {
    background: #4a39b3;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
  }
}
