form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  input, button {
    color: #fff;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: .5px solid #fff;
    padding: 8px 12px;
    margin-bottom: 1rem;
  }

  input::placeholder {
    background: transparent;
    color: rgba(255, 255, 255, 0.808);
  }

  button {
    background: #4a39b3;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: bold;
  }
}

mat-card {
  min-height: 360px;
  max-height: 360px;
  align-self: center;
  display: flex;
  padding: 2rem 1rem;
  background: #161B22;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  align-items: center;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  mat-card-title {
    display: flex;
    align-self: flex-start;
    font-size: 12px;
    color: #fff;
  }

  app-row-book {
    width: 100%;
  }
}
